* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.dg {
  display: grid;
}

h1 {
  font-size: 44px;
  line-height: 59px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 29px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/*::-webkit-scrollbar {
    width: 0;
}*/
/*fonts*/
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}
/*header */
.header-wrap {
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
  padding: 16px 0;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 888;
}

.header {
  display: grid;
  grid-template-columns: 1fr fit-content(100%) 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  justify-content: space-between;
}

.navbar {
  list-style: none;
}
.navbar li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #AE7C78;
}

.navbar__logo {
  margin: 0 64px 0 64px;
}

.header-mon__bttn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-mon__item {
  background: #AE7C78;
  height: 2px;
  border-radius: 2px;
}

.header-mob {
  display: none;
  grid-template-columns: repeat(2, fit-content(100%));
  justify-content: space-between;
}

.bar,
.bar:after,
.bar:before {
  width: 30px;
  height: 2px;
  border-radius: 2px;
}

.bar {
  position: relative;
  transform: translateY(-50% px);
  top: 50%;
  background: #AE7C78;
  transition: all 0ms 300ms;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #AE7C78;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: #AE7C78;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.open__nav {
  transform: translateX(0%) !important;
  transition: all 0.3s;
}

/*section*/
.container {
  padding: 0px 15px;
}

@media (min-width: 575.98px) {
  .container {
    margin: auto;
    padding: 0 15px;
  }
}
@media (min-width: 768.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.wrapp {
  padding: 166px 0 0 0;
}

.baner {
  width: 100%;
}
.baner__heading {
  color: #AE7C78;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  grid-column: 1/5;
}
.baner__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
  grid-column: 1/5;
  margin: 24px 0 0 0;
}
.baner__bttn {
  background: #D89999;
  border-radius: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  margin: 64px 0 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 30px 0;
}
.baner__img {
  grid-row: 1;
}
.baner__img--bottom {
  grid-column: 5/9;
  margin: 58px 0 0 0;
}
.baner__img--top {
  grid-column: 9/13;
}

.baner__text-wrap {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-content: start;
}

.benefits {
  margin: 54px 0 0 0;
}
.benefits__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.benefits__item--one {
  grid-column: 1/5;
}
.benefits__item--two {
  grid-column: 5/9;
}
.benefits__item--three {
  grid-column: 9/13;
}
.benefits__img {
  justify-self: end;
  grid-column: 1;
}

.item__text {
  grid-column: 2/5;
}
.item__heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
}
.item__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
  margin: 8px 0 0 0;
}

.services {
  margin: 80px 0 0 0;
}
.services__item {
  border-radius: 10px;
  height: 442px;
  background-position: center center;
}
.services__item--one {
  grid-column: 1/5;
  background-image: url(img/services__one.jpg);
}
.services__item--two {
  grid-column: 5/9;
  background-image: url(img/services__two.jpg);
}
.services__item--three {
  grid-column: 9/13;
  background-image: url(img/services__three.jpg);
}
.services__foreground {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  background: rgba(174, 124, 120, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.services__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.services__sub_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0 0 0;
}

.discount {
  background: #AE7C78;
  margin: 80px 0 0 0;
}
.discount__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 40px 0 0 0;
}
.discount__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin: 24px 0 0 0;
}
.discount__img {
  grid-column: 7/13;
}
.discount__wrap-text {
  grid-column: 2/6;
}

.steps {
  margin: 80px 0 0 0;
}
.steps__heading {
  grid-column: 1/13;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  color: #AE7C78;
}
.steps__item-wrap {
  grid-column: 1/13;
  margin: 36px 0 0 0;
}
.steps__item {
  display: grid;
  grid-gap: 8px;
}
.steps__item--one {
  grid-column: 1/4;
}
.steps__item--two {
  grid-column: 4/7;
}
.steps__item--three {
  grid-column: 7/10;
}
.steps__item--four {
  grid-column: 10/13;
}
.steps__img {
  justify-self: center;
}
.steps__item-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #AE7C78;
  text-align: center;
}
.steps__item-sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #AE7C78;
}

.some-info {
  margin: 80px 0 0 0;
}
.some-info__text {
  grid-column: 1/5;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
.some-info__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #AE7C78;
}
.some-info__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
}
.some-info__icon-social-network {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  justify-content: start;
  grid-gap: 20px;
}
.some-info__img {
  grid-column: 6/13;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}
.some-info__img--one {
  grid-column: 1/4;
  grid-row: 1;
}
.some-info__img--two {
  grid-column: 1/4;
  grid-row: 2;
}
.some-info__img--three {
  grid-column: 4/8;
  grid-row: 1/3;
}

.review {
  border: 1px solid #AE7C78;
  padding: 40px 0 64px 0;
  margin: 80px 0 0 0;
}
.review__item-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #AE7C78;
  text-align: center;
}
.review__heading {
  grid-column: 1/13;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  color: #AE7C78;
}
.review__item-wrap {
  grid-column: 1/13;
  margin: 20px 0 0 0;
}
.review__item {
  display: grid;
  grid-gap: 16px;
  padding: 0 42px;
}
.review__item--one {
  grid-column: 1/5;
}
.review__item--two {
  grid-column: 5/9;
}
.review__item--three {
  grid-column: 9/13;
}
.review__item-sub_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #AE7C78;
}

.popular {
  margin: 80px 0 0px 0;
  padding: 0 0 24px 0;
  position: relative;
}
.popular__slider {
  grid-column: 3/11;
}
.popular__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #AE7C78;
  text-align: center;
  grid-column: 1/13;
}

.slide__item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.slide__text-part {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: repeat(4, 1fr);
  align-self: start;
}
.slide__heading {
  grid-column: 1/5;
  font-family: Montserrat;
  font-style: normal;
  color: #AE7C78;
  margin: 27px 0 0 0;
}
.slide__sub-text {
  grid-column: 1/5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
  margin: 20px 0 0 0;
}
.slide__size {
  grid-column: 1/5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
  margin: 24px 0 0 0;
}
.slide__price {
  grid-column: 1/5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #AE7C78;
  margin: 24px 0 0 0;
}
.slide__bttn {
  grid-column: 1/4;
  background: #D89999;
  border-radius: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin: 64px 0 0 0;
}
.slide__img-part {
  grid-column: 5/8;
}
.slider__arrow {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  width: 100%;
}
.footer__leavel-top {
  width: 100%;
}

.leavel-top__map {
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}
.leavel-top__text {
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
}

.footer-top__text-block-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: start;
  background: #F7FAFC;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  grid-column: 2/6;
  padding: 45px 35px 65px 35px;
  margin: 52px 0 0 0;
}

.footer-top__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: #AE7C78;
}
.footer-top__text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 42px 0 0 0;
}
.footer-top__text-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 13px;
}
.footer-top__sub-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
}
.footer-top__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #AE7C78;
}

.footer {
  margin: 80px 0 0 0;
  position: relative;
}
.footer__leavel-bottom-wrap {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  justify-content: space-between;
  align-items: center;
}
.footer__leavel-bottom {
  background: #AE7C78;
  padding: 24px 0 40px 0;
}
.footer__navbar {
  justify-self: center;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, fit-content(100%));
  justify-content: space-between;
  list-style: none;
  margin: 0 103px;
}
.footer__navbar li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.footer-top__text-block-wrap {
  width: 386px;
  position: absolute;
  left: 13vw;
}

/*footer*/
/*tablet*/
@media (max-width: 1200px) {
  .baner__img {
    width: 100%;
  }

  .popular__slider {
    grid-column: 2/12;
  }

  .slide__item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .slide__img-part {
    grid-column: 5/11;
    justify-self: end;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
  }

  .discount__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .steps__item-wrap {
    grid-column: 1/13;
    margin: 36px 0 0 0;
    grid-gap: 30px;
  }
  .steps__item {
    display: grid;
    grid-gap: 8px;
  }
  .steps__item--one {
    grid-column: 1/7;
  }
  .steps__item--two {
    grid-column: 7/13;
  }
  .steps__item--three {
    grid-column: 1/7;
  }
  .steps__item--four {
    grid-column: 7/13;
  }

  .some-info__img {
    grid-column: 6/13;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  .some-info__img--one {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
  }
  .some-info__img--two {
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
  }
  .some-info__img--three {
    grid-column: 4/8;
    grid-row: 1/3;
    width: 100%;
  }

  .item__sub-text {
    font-size: 14px;
  }

  .discount__wrap-text {
    grid-column: 1/7;
    padding: 0 0 15px 15px;
  }

  .footer__navbar {
    margin: 0 50px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .baner__img--bottom {
    grid-column: 9/12;
    margin: 58px 0 0 0;
    grid-row: 2;
    width: 100%;
    object-fit: cover;
  }

  .baner__img--top {
    grid-column: 10/13;
    width: 100%;
    object-fit: cover;
  }

  .baner__text-wrap {
    grid-column: 1/9;
    grid-row: 1/3;
  }

  .benefits__item {
    grid-column: 1/13;
    margin: 20px 0 0 0;
  }

  .popular__slider {
    grid-column: 1/13;
  }

  .some-info {
    margin: 80px 0 0 0;
  }
  .some-info__text {
    grid-column: 1/13;
    margin: 0 0 20px 0;
  }
  .some-info__img {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  .some-info__img--one {
    grid-column: 1/4;
    grid-row: 1;
  }
  .some-info__img--two {
    grid-column: 1/4;
    grid-row: 2;
  }
  .some-info__img--three {
    grid-column: 4/8;
    grid-row: 1/3;
    height: 100%;
    object-fit: cover;
  }

  .review__item {
    padding: 0 20px;
  }

  .review {
    border: 1px solid #AE7C78;
    padding: 20px 0 44px 0;
    margin: 80px 0 0 0;
  }

  .discount__wrap-text {
    grid-column: 1/7;
    padding: 0 0 15px 15px;
  }

  .footer-top__text-block-wrap {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 12px 12px 0 0;
  }

  .footer-top__heading {
    grid-column: 1/3;
  }

  .footer-top__text {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 42 px 0 0 0;
  }

  .footer__navbar {
    display: block;
    column-count: 2;
    grid-column: 1/3;
    grid-row: 1;
  }

  .footer__logo {
    grid-column: 1;
  }

  .some-info__icon-social-network--footer {
    grid-column: 2;
  }

  .footer__leavel-bottom-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .footer__navbar li {
    padding: 5px 0;
  }

  .header-mob {
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #AE7C78;
    background: #fff;
    z-index: 2;
  }

  .header-wrap {
    position: fixed;
    height: 100vh;
    padding: 90px 0 0 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .navbar {
    display: block;
  }

  .navbar li {
    padding: 20px 0 0 0;
  }

  .navbar__logo {
    display: none;
  }

  .header {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991.98px) and (max-width: 650px) {
  .slide__text-part {
    display: grid;
    grid-column: 1/6;
    grid-template-columns: repeat(4, 1fr);
    align-self: start;
  }

  .slide__img-part {
    grid-column: 6/13;
    justify-self: end;
  }

  .slide__img {
    width: 100%;
  }

  .slide__bttn {
    padding: 20px 0;
  }

  .review__item-sub_text {
    font-size: 14px;
  }

  .review__item {
    padding: 0 5px;
  }

  .baner__img--bottom {
    margin: 28px 0 0 0;
  }

  .baner__sub-text {
    margin: 14px 0 0 0;
  }
}
@media (max-width: 991.98px) and (max-width: 650px) {
  .discount__wrap-text {
    grid-column: 1/13;
  }

  .discount__img {
    grid-column: 1/13;
    height: 200px;
    object-position: center center;
  }

  .services__item {
    border-radius: 10px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .services__item--one {
    grid-column: 1/13;
    background-image: url(img/services__one.jpg);
  }
  .services__item--two {
    grid-column: 1/13;
    background-image: url(img/services__two.jpg);
  }
  .services__item--three {
    grid-column: 1/13;
    background-image: url(img/services__three.jpg);
  }

  .baner__text-wrap {
    grid-column: 1/13;
  }

  .baner__img {
    display: none;
  }

  .baner__bttn {
    margin: 34px 0 0 0;
  }
}
@media (max-width: 426px) {
  .slide__text-part {
    grid-column: 1/13;
  }

  .slide__img-part {
    grid-column: 3/9;
    grid-row: 1;
  }

  .slide__bttn {
    grid-column: 2/4;
    margin: 24px 0 0 0;
  }

  .popular {
    padding: 0 0 34px 0;
  }

  .steps__item {
    grid-column: 1/13;
  }

  .review__item {
    grid-column: 1/13;
  }

  .some-info__img {
    grid-gap: 10px;
  }
}
/*media*/
/*small_mob*/