* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.dg {
  display: grid;
}

h1 {
  font-size: 44px;
  line-height: 59px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 29px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/*::-webkit-scrollbar {
    width: 0;
}*/
/*fonts*/
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}
/*header */
/*section*/
.container {
  padding: 0px 15px;
}

@media (min-width: 575.98px) {
  .container {
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 768.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1200px;
  }
}
.wrapp {
  padding: 100px 0 0 0;
}

.baner {
  width: 100%;
}
.baner__heading {
  color: #AE7C78;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  grid-column: 1/5;
}
.baner__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #AE7C78;
  grid-column: 1/5;
  margin: 24px 0 0 0;
}
.baner__bttn {
  background: #D89999;
  border-radius: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  margin: 64px 0 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 30px 0;
}
.baner__img {
  grid-row: 1;
}
.baner__img--bottom {
  grid-column: 5/9;
  margin: 58px 0 0 0;
}
.baner__img--top {
  grid-column: 9/13;
}

.baner__text-wrap {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-content: start;
}

.benefits {
  margin: 54px 0 0 0;
}
.benefits__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.benefits__item--one {
  grid-column: 1/5;
}
.benefits__item--two {
  grid-column: 5/9;
}
.benefits__item--three {
  grid-column: 9/13;
}
.benefits__img {
  justify-self: end;
  grid-column: 1;
}

.item__text {
  grid-column: 2/5;
}
.item__heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
}
.item__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
  margin: 8px 0 0 0;
}

.services {
  margin: 80px 0 0 0;
}
.services__item {
  border-radius: 10px;
  height: 442px;
}
.services__item--one {
  grid-column: 1/5;
  background-image: url(img/services__one.jpg);
}
.services__item--two {
  grid-column: 5/9;
  background-image: url(img/services__two.jpg);
}
.services__item--three {
  grid-column: 9/13;
  background-image: url(img/services__three.jpg);
}
.services__foreground {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  background: rgba(174, 124, 120, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.services__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.services__sub_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0 0 0;
}

.discount {
  background: #AE7C78;
  margin: 80px 0 0 0;
}
.discount__heading {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 40px 0 0 0;
}
.discount__sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin: 24px 0 0 0;
}
.discount__img {
  grid-column: 7/13;
}
.discount__wrap-text {
  grid-column: 2/6;
}

.steps {
  margin: 80px 0 0 0;
}
.steps__heading {
  grid-column: 1/13;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  color: #AE7C78;
}
.steps__item-wrap {
  grid-column: 1/13;
  margin: 36px 0 0 0;
}
.steps__item {
  display: grid;
  grid-gap: 8px;
}
.steps__item--one {
  grid-column: 1/4;
}
.steps__item--two {
  grid-column: 4/7;
}
.steps__item--three {
  grid-column: 7/10;
}
.steps__item--four {
  grid-column: 10/13;
}
.steps__img {
  justify-self: center;
}
.steps__item-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #AE7C78;
  text-align: center;
}
.steps__item-sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #AE7C78;
}

/*footer*/
/*tablet*/
/*media*/
/*small_mob*/