/*section*/

.container {
    padding: 0px 15px;
}

@media (min-width: 575.98px) {
    .container {
        margin: auto;
        padding: 0 15px;
    }
}

@media (min-width: 768.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

$brown: #AE7C78;
.wrapp {
    padding: 166px 0 0 0;
}

// baner
.baner {
    width: 100%;
    &__heading {
        color: $brown;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        grid-column: 1/5;
    }
    &__sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: $brown;
        grid-column: 1/5;
        margin: 24px 0 0 0;
    }
    &__bttn {
        background: #D89999;
        border-radius: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/4;
        margin: 64px 0 0 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #FFFFFF;
        padding: 30px 0;
    }
    &__img {
        grid-row: 1;
        &--bottom {
            grid-column: 5 / 9;
            margin: 58px 0 0 0;
        }
        &--top {
            grid-column: 9 / 13;
        }
    }
}

.baner__text-wrap {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-content: start;
}

// benefits
.benefits {
    margin: 54px 0 0 0;
    &__item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        &--one {
            grid-column: 1/5;
        }
        &--two {
            grid-column: 5/9;
        }
        &--three {
            grid-column: 9/13;
        }
    }
    &__img {
        justify-self: end;
        grid-column: 1;
    }
}

.grid {}

.item {
    &__text {
        grid-column: 2/5;
    }
    &__heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $brown;
    }
    &__sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $brown;
        margin: 8px 0 0 0;
    }
}

// services
.services {
    margin: 80px 0 0 0;
    &__item {
        border-radius: 10px;
        height: 442px;
        background-position: center center;
        &--one {
            grid-column: 1/5;
            background-image: url(img/services__one.jpg);
        }
        &--two {
            grid-column: 5/9;
            background-image: url(img/services__two.jpg);
        }
        &--three {
            grid-column: 9/13;
            background-image: url(img/services__three.jpg);
        }
    }
    &__foreground {
        width: 100%;
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        background: rgba(174, 124, 120, 0.6);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &__heading {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    &__sub_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
        margin: 8px 0 0 0;
    }
}

// discount
.discount {
    background: $brown;
    margin: 80px 0 0 0;
    &__heading {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 40px 0 0 0;
    }
    &__sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #fff;
        margin: 24px 0 0 0;
    }
    &__img {
        grid-column: 7/13;
    }
    &__wrap-text {
        grid-column: 2/6;
    }
}

// steps
.steps {
    margin: 80px 0 0 0;
    &__heading {
        grid-column: 1/13;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.02em;
        color: #AE7C78;
    }
    &__item-wrap {
        grid-column: 1/13;
        margin: 36px 0 0 0;
    }
    &__item {
        display: grid;
        grid-gap: 8px;
        &--one {
            grid-column: 1/4;
        }
        &--two {
            grid-column: 4/7;
        }
        &--three {
            grid-column: 7/10;
        }
        &--four {
            grid-column: 10/13;
        }
    }
    &__img {
        justify-self: center;
    }
    &__text {}
    &__item-heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        color: #AE7C78;
        text-align: center;
    }
    &__item-sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #AE7C78;
    }
}

// some-info
.some-info {
    margin: 80px 0 0 0;
    &__text {
        grid-column: 1/5;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    &__heading {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #AE7C78;
    }
    &__sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #AE7C78;
    }
    &__icon-social-network {
        display: grid;
        grid-template-columns: repeat(3, fit-content(100%));
        justify-content: start;
        grid-gap: 20px;
    }
    &__img {
        grid-column: 6/13;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: auto;
        grid-gap: 20px;
        &--one {
            grid-column: 1/4;
            grid-row: 1;
        }
        &--two {
            grid-column: 1/4;
            grid-row: 2;
        }
        &--three {
            grid-column: 4/8;
            grid-row: 1/3;
        }
    }
}

// review
.review {
    border: 1px solid #AE7C78;
    padding: 40px 0 64px 0;
    margin: 80px 0 0 0;
    &__item-heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        color: #AE7C78;
        text-align: center;
    }
    &__heading {
        grid-column: 1/13;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.02em;
        color: #AE7C78;
    }
    &__item-wrap {
        grid-column: 1/13;
        margin: 20px 0 0 0;
    }
    &__item {
        display: grid;
        grid-gap: 16px;
        padding: 0 42px;
        &--one {
            grid-column: 1/5;
        }
        &--two {
            grid-column: 5/9;
        }
        &--three {
            grid-column: 9/13;
        }
    }
    &__item-sub_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #AE7C78;
    }
}

// slider
.polular {}

.popular {
    margin: 80px 0 0px 0;
    padding: 0 0 24px 0;
    position: relative;
    &__slider {
        grid-column: 3/11;
    }
    &__heading {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #AE7C78;
        text-align: center;
        grid-column: 1/13;
    }
}

.slide {
    &__item {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    &__text-part {
        display: grid;
        grid-column: 1/5;
        grid-template-columns: repeat(4, 1fr);
        align-self: start;
    }
    &__heading {
        grid-column: 1/5;
        font-family: Montserrat;
        font-style: normal;
        color: #AE7C78;
        margin: 27px 0 0 0;
    }
    &__sub-text {
        grid-column: 1/5;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #AE7C78;
        margin: 20px 0 0 0;
    }
    &__size {
        grid-column: 1/5;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #AE7C78;
        margin: 24px 0 0 0;
    }
    &__price {
        grid-column: 1/5;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        color: #AE7C78;
        margin: 24px 0 0 0;
    }
    &__bttn {
        grid-column: 1/4;
        background: #D89999;
        border-radius: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        margin: 64px 0 0 0;
    }
    &__img-part {
        grid-column: 5/8;
    }
    &__img {}
}

.slider {
    &__arrow {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__arrow-left {}
    &__arrow-right {}
}

.footer {
    width: 100%;
    &__leavel-top {
        width: 100%;
    }
}

.leavel-top {
    &__map {
        grid-column: 1;
        grid-row: 1;
        z-index: -1;
    }
    &__text {
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        z-index: 3;
    }
}

.footer-top__text-block-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: start;
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    grid-column: 2/6;
    padding: 45px 35px 65px 35px;
    margin: 52px 0 0 0;
}

.container {}

.grid {}

// footer
.footer-top {
    &__text_block {}
    &__heading {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        color: #AE7C78;
    }
    &__text {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin: 42px 0 0 0;
    }
    &__text-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 13px;
    }
    &__sub-heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #AE7C78;
    }
    &__sub-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #AE7C78;
    }
}

.footer {
    margin: 80px 0 0 0;
    position: relative;
    &__leavel-bottom-wrap {
        display: grid;
        grid-template-columns: repeat(3, fit-content(100%));
        justify-content: space-between;
        align-items: center;
    }
    &__leavel-bottom {
        background: #AE7C78;
        padding: 24px 0 40px 0;
    }
    &__logo {}
    &__navbar {
        justify-self: center;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, fit-content(100%));
        justify-content: space-between;
        list-style: none;
        margin: 0 103px
    }
    &__navbar li a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
    }
}

.some-info {
    &__icon-social-network {}
}

// .footer__leavel-top {
//     grid-column: 1;
//     grid-row: 1;
//     position: relative;
// }
.footer-top__text-block-wrap {
    width: 386px;
    position: absolute;
    left: 13vw
}