                /*tablet*/
                
                @media(max-width:1200px) {
                    .baner__img {
                        width: 100%;
                    }
                    .popular__slider {
                        grid-column: 2/12;
                    }
                    .slide__item {
                        display: grid;
                        grid-template-columns: repeat(10, 1fr);
                    }
                    .slide__img-part {
                        grid-column: 5/11;
                        justify-self: end;
                    }
                    .grid {
                        display: grid;
                        grid-template-columns: repeat(12, 1fr);
                        grid-gap: 15px;
                    }
                    .discount__img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                    .steps {
                        &__item-wrap {
                            grid-column: 1/13;
                            margin: 36px 0 0 0;
                            grid-gap: 30px;
                        }
                        &__item {
                            display: grid;
                            grid-gap: 8px;
                            &--one {
                                grid-column: 1/7;
                            }
                            &--two {
                                grid-column: 7/13;
                            }
                            &--three {
                                grid-column: 1/7;
                            }
                            &--four {
                                grid-column: 7/13;
                            }
                        }
                    }
                    .some-info {
                        &__img {
                            grid-column: 6/13;
                            display: grid;
                            grid-template-columns: repeat(7, 1fr);
                            grid-auto-rows: auto;
                            grid-gap: 20px;
                            &--one {
                                grid-column: 1/4;
                                grid-row: 1;
                                width: 100%;
                            }
                            &--two {
                                grid-column: 1/4;
                                grid-row: 2;
                                width: 100%;
                            }
                            &--three {
                                grid-column: 4/8;
                                grid-row: 1/3;
                                width: 100%;
                            }
                        }
                    }
                    .item__sub-text {
                        font-size: 14px;
                    }
                    .discount__wrap-text {
                        grid-column: 1/7;
                        padding: 0 0 15px 15px;
                    }
                    .footer__navbar {
                        margin: 0 50px;
                    }
                }
                
                @media (max-width: 991.98px) {
                    h1 {
                        font-size: 36px;
                        line-height: 48px;
                    }
                    h2 {
                        font-size: 30px;
                        line-height: 38px;
                    }
                    h3 {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    .baner__img--bottom {
                        grid-column: 9/12;
                        margin: 58px 0 0 0;
                        grid-row: 2;
                        width: 100%;
                        object-fit: cover;
                    }
                    .baner__img--top {
                        grid-column: 10/13;
                        width: 100%;
                        object-fit: cover;
                    }
                    .baner__text-wrap {
                        grid-column: 1/9;
                        grid-row: 1/3;
                    }
                    .benefits__item {
                        grid-column: 1/13;
                        margin: 20px 0 0 0
                    }
                    .popular__slider {
                        grid-column: 1/13;
                    }
                    .some-info {
                        margin: 80px 0 0 0;
                        &__text {
                            grid-column: 1/13;
                            margin: 0 0 20px 0;
                        }
                        &__img {
                            grid-column: 1/13;
                            display: grid;
                            grid-template-columns: repeat(7, 1fr);
                            grid-auto-rows: auto;
                            grid-gap: 20px;
                            &--one {
                                grid-column: 1/4;
                                grid-row: 1;
                            }
                            &--two {
                                grid-column: 1/4;
                                grid-row: 2;
                            }
                            &--three {
                                grid-column: 4/8;
                                grid-row: 1/3;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .review__item {
                        padding: 0 20px;
                    }
                    .review {
                        border: 1px solid #AE7C78;
                        padding: 20px 0 44px 0;
                        margin: 80px 0 0 0;
                    }
                    .discount__wrap-text {
                        grid-column: 1/7;
                        padding: 0 0 15px 15px;
                    }
                    .footer-top__text-block-wrap {
                        width: 100%;
                        grid-template-columns: repeat(2, 1fr);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-radius: 12px 12px 0 0;
                    }
                    .footer-top__heading {
                        grid-column: 1/3;
                    }
                    .footer-top__text {
                        display: grid;
                        grid-column: 1/3;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 15px;
                        margin: 42 px 0 0 0;
                    }
                    .footer__navbar {
                        display: block;
                        column-count: 2;
                        grid-column: 1/3;
                        grid-row: 1;
                    }
                    .footer__logo {
                        grid-column: 1;
                    }
                    .some-info__icon-social-network--footer {
                        grid-column: 2;
                    }
                    .footer__leavel-bottom-wrap {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 15px;
                    }
                    .footer__navbar li {
                        padding: 5px 0
                    }
                    @media (max-width: 650px) {
                        .slide__text-part {
                            display: grid;
                            grid-column: 1/6;
                            grid-template-columns: repeat(4, 1fr);
                            align-self: start;
                        }
                        .slide__img-part {
                            grid-column: 6/13;
                            justify-self: end;
                        }
                        .slide__img {
                            width: 100%;
                        }
                        .slide__bttn {
                            padding: 20px 0;
                        }
                        .review__item-sub_text {
                            font-size: 14px;
                        }
                        .review__item {
                            padding: 0 5px;
                        }
                        .baner__img--bottom {
                            margin: 28px 0 0 0;
                        }
                        .baner__sub-text {
                            margin: 14px 0 0 0;
                        }
                    }
                    @media (max-width: 650px) {
                        .discount__wrap-text {
                            grid-column: 1/13;
                        }
                        .discount__img {
                            grid-column: 1/13;
                            height: 200px;
                            object-position: center center;
                        }
                        .services {
                            &__item {
                                border-radius: 10px;
                                height: 200px;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;
                                &--one {
                                    grid-column: 1/13;
                                    background-image: url(img/services__one.jpg);
                                }
                                &--two {
                                    grid-column: 1/13;
                                    background-image: url(img/services__two.jpg);
                                }
                                &--three {
                                    grid-column: 1/13;
                                    background-image: url(img/services__three.jpg);
                                }
                            }
                        }
                        .baner__text-wrap {
                            grid-column: 1/13;
                        }
                        .baner__img {
                            display: none;
                        }
                        .baner__bttn {
                            margin: 34px 0 0 0;
                        }
                    }
                }
                
                @media (max-width: 426px) {
                    .slide__text-part {
                        grid-column: 1/13;
                    }
                    .slide__img-part {
                        grid-column: 3/9;
                        grid-row: 1;
                    }
                    .slide__bttn {
                        grid-column: 2/4;
                        margin: 24px 0 0 0;
                    }
                    .popular {
                        padding: 0 0 34px 0;
                    }
                    .steps__item {
                        grid-column: 1/13;
                    }
                    .review__item {
                        grid-column: 1/13;
                    }
                    .some-info__img {
                        grid-gap: 10px;
                    }
                }